target/
**/target/
*.class
*.log
*.zip
**/natapp/natapp
**/natapp/natapp.exe

.idea/
*.iml
.vscode/

.tools/
.run-logs/
logs/
data/
**/data/

group-buy-market-master.zip
s-pay-mall-ddd-market-master.zip
