<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.bugstack.infrastructure.dao.IReconcileOperationLogDao">

    <resultMap id="dataMap" type="cn.bugstack.infrastructure.dao.po.ReconcileOperationLog">
        <id column="id" property="id"/>
        <result column="operator" property="operator"/>
        <result column="operation_type" property="operationType"/>
        <result column="biz_id" property="bizId"/>
        <result column="request_body" property="requestBody"/>
        <result column="result" property="result"/>
        <result column="create_time" property="createTime"/>
    </resultMap>

    <insert id="insert" parameterType="cn.bugstack.infrastructure.dao.po.ReconcileOperationLog">
        insert into reconcile_operation_log(
            operator, operation_type, biz_id, request_body, result, create_time
        ) values(
            #{operator}, #{operationType}, #{bizId}, #{requestBody}, #{result}, now()
        )
    </insert>

    <select id="queryLogList" resultMap="dataMap">
        select id, operator, operation_type, biz_id, request_body, result, create_time
        from reconcile_operation_log
        where 1 = 1
        <if test="bizId != null and bizId != ''">
            and biz_id = #{bizId}
        </if>
        <if test="lastId != null">
            and id &gt; #{lastId}
        </if>
        order by id desc
        limit #{pageSize}
    </select>

</mapper>
